<main contianer-fluid>
    <h1>Search Results:</h1>
    {{#each workouts}}
    <div class="card-body">
        <p><span class="label">Warm-Up:</span> {{this.wu}}</p>
        <p><span class="label">Main Set:</span> {{this.ms}}</p>
        <p><span class="label">Cool-Down:</span> {{this.cd}}</p>

        <button data-id="{{this.id}}" class="selectWO btn btn-dark">Do This One!</button>
        <button data-id="{{this.id}}" class="selectWO btn btn-danger">Delete</button>
    </div>


    {{/each}}

</main>